@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: 'Flink Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Flink Regular"), url("../fonts/FlinkRegular.woff") format("woff");
}

@font-face {
  font-family: 'Flink Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Flink Medium"), url("../fonts/FlinkMedium.woff") format("woff");
}

@font-face {
  font-family: 'Flink Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Flink Medium Italic"), url("../fonts/FlinkMediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Flink Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Flink Bold"), url("../fonts/FlinkBold.woff") format("woff");
}

@font-face {
  font-family: 'Flink Black';
  font-style: normal;
  font-weight: normal;
  src: local("Flink Black"), url("../fonts/FlinkBlack.woff") format("woff");
}

:root {
  --color-primary: #fffaf1;
  --shadow-diffuse: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  --shadow-dreamy: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
  --shadow-shorter: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
  --shadow-longer: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 36.5em) {
  html {
    font-size: 52.5%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Flink Regular', 'Flink Medium', 'Flink Thin', 'Flink Bold', 'Flink ExtraBold', 'Flink Black', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #fffaf1;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

@media only screen and (max-width: 75em) {
  body {
    padding: 3rem;
    padding: 0;
  }
}

@media only screen and (max-width: 36.5em) {
  body {
    padding: 0;
  }
}

::-moz-selection {
  background-color: #e9ab2b;
  color: white;
}

::selection {
  background-color: #e9ab2b;
  color: white;
}

.heading {
  font-weight: 800;
  line-height: 1.08;
  font-family: 'Flink Black', sans-serif;
  font-size: 9rem;
}

@media only screen and (max-width: 36.5em) {
  .heading {
    font-size: 7rem;
    line-height: 1.25;
  }
}

.heading--secondary {
  font-size: 6rem;
  font-weight: 700;
}

@media only screen and (max-width: 36.5em) {
  .heading--secondary {
    font-size: 5.5rem;
    text-align: center;
  }
}

.heading--features {
  font-size: 4rem;
}

@media only screen and (max-width: 36.5em) {
  .heading--features {
    text-align: center;
  }
}

.subheading {
  font-weight: 500;
  color: #767169;
  font-size: 3.75rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
}

.subheading--hero {
  font-size: 2.2rem;
  line-height: 1.5;
}

.subheading--secondary {
  color: #393835;
  font-weight: 600;
  line-height: 1.4;
}

.subheading--article {
  font-size: 2rem;
  font-weight: 800;
}

.subheading--about {
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

.subheading--phone {
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

@media only screen and (max-width: 36.5em) {
  .subheading--phone {
    display: none;
  }
}

.subheading--card {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.subheading--teritary {
  font-size: 2.75rem;
}

.logo {
  font-size: 3.5rem;
}

.logo--white {
  color: #fff;
}

.logo--secondary {
  color: white;
  font-size: 3rem;
}

.number-text {
  font-family: 'Share Tech Mono', monospace;
  font-size: 7.25rem;
  margin-right: 2rem;
}

.p-text {
  line-height: 1.5;
  font-size: 1.75rem;
  color: #767169;
  font-weight: 500;
}

.txt-ctr {
  text-align: center;
}

.radial-gradient {
  height: 30rem;
  width: 30rem;
  border-radius: 100rem;
  background: #fee4c0;
  background: radial-gradient(circle, #fee4c0 0%, rgba(255, 250, 241, 0.0914741) 100%);
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ctr-btn {
  display: inherit;
  margin: 0 auto;
}

.ctr-txt {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 1.5rem;
  color: grey;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.input-icon i:hover {
  color: black;
}

@media only screen and (max-width: 36.5em) {
  .input-icon i {
    display: none;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
  z-index: 999;
  height: 10rem;
  padding: 0 7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f9e6c6;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99999;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav.top {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 56.25em) {
  .nav {
    padding: 1rem 1.25rem;
  }
}

@media only screen and (max-width: 36.5em) {
  .nav {
    padding: 1rem 2rem;
  }
}

.nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20rem;
}

@media only screen and (max-width: 75em) {
  .nav ul {
    margin-right: 0;
  }
}

.nav ul li {
  margin: 0 2.75rem;
  font-size: 1.65rem;
}

@media only screen and (max-width: 56.25em) {
  .nav ul li:nth-child(-n + 3) {
    display: none;
  }
}

.nav ul li a {
  text-decoration: none;
  color: #767169;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #e9ab2b;
}

.nav ul li:last-child {
  display: inline-block;
  border: 1px solid #ffc573;
  border-radius: 10rem;
  padding: 0.45rem 0.75rem;
  font-weight: 800;
  background: #fee4c0;
  background: linear-gradient(319deg, #fee4c0 0%, #ffd892 100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.nav ul li:last-child:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: var(--shadow-dreamy);
          box-shadow: var(--shadow-dreamy);
}

.nav ul li:last-child:hover a {
  color: inherit;
}

@media only screen and (max-width: 36.5em) {
  .nav ul li:last-child {
    margin: 0;
  }
}

.nav__logo {
  font-size: 3rem;
  cursor: pointer;
}

@media only screen and (max-width: 36.5em) {
  .nav__logo {
    margin-right: auto;
  }
}

.nav__search {
  border-radius: 100px;
  width: 35rem;
  border: none;
  outline: none;
  padding: 1.25rem 3rem;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__search:hover, .nav__search:focus {
  -webkit-box-shadow: var(--shadow-shorter);
          box-shadow: var(--shadow-shorter);
}

@media only screen and (max-width: 56.25em) {
  .nav__search {
    width: 25rem;
  }
}

@media only screen and (max-width: 36.5em) {
  .nav__search {
    display: none;
  }
}

.btn--hero {
  padding: 1.75rem 3rem;
  background: #000000;
  color: #fff;
  border: none;
  font-family: 'Open Sans';
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
}

.btn--hero:hover {
  background: #e9ab2b;
}

@media only screen and (max-width: 36.5em) {
  .btn--hero {
    padding: 1.75rem 2.5rem;
    font-size: 1.75rem;
  }
}

.logos {
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  padding: 1.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.logos img {
  max-width: 10rem;
  max-height: 10rem;
}

@media only screen and (max-width: 36.5em) {
  .logos img:last-child {
    display: none;
  }
}

.carousel {
  padding: 10px;
  background: tomato;
}

.carousel__child {
  width: 358px;
  height: 40px;
  margin: 0 auto;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
  padding: 1.75rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carousel__child ul {
  position: relative;
  list-style: none;
  padding: 0;
  border: 1px solid black;
  margin: 0;
  height: 40px;
  overflow: hidden;
}

.carousel__child ul li {
  position: absolute;
  background: white;
  margin-right: -4px;
}

.carousel__child ul li div {
  width: 60px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin-right: -4px;
}

.one {
  -webkit-animation: loop 4s linear infinite;
          animation: loop 4s linear infinite;
}

.two {
  -webkit-animation: looptwo 8s linear infinite;
          animation: looptwo 8s linear infinite;
}

@-webkit-keyframes loop {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  50.1% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes loop {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  50.1% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes looptwo {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  50% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  50.1% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes looptwo {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  50% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  50.1% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.25fr 6fr 2fr;
      grid-template-columns: 3.25fr 6fr 2fr;
      grid-template-areas: 'hero-left hero-center hero-right';
  gap: 1rem;
  height: 90vh;
  padding: 15rem 7rem 0 7rem;
  position: relative;
}

@media only screen and (min-width: 112.5em) {
  .hero {
    margin-bottom: 25rem;
  }
}

@media only screen and (max-width: 75em) {
  .hero {
    padding: 15rem 5rem 5rem 5rem;
    -ms-grid-columns: 2fr 2.75fr;
        grid-template-columns: 2fr 2.75fr;
        grid-template-areas: 'hero-left hero-center';
  }
}

@media only screen and (max-width: 56.25em) {
  .hero {
    padding: 15rem 0 5rem 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1.5fr minmax(300px, 3fr);
        grid-template-rows: 1.5fr minmax(300px, 3fr);
        grid-template-areas: 'hero-left' 'hero-center';
  }
}

@media only screen and (max-width: 36.5em) {
  .hero {
    margin-bottom: 20rem;
  }
}

.hero__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero-left;
  z-index: 999;
}

@media only screen and (max-width: 56.25em) {
  .hero__left {
    text-align: center;
    padding: 1.25rem;
  }
}

.hero__center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hero-center;
}

.hero__center svg {
  width: 80%;
  position: absolute;
  top: 20px;
  left: 210px;
}

@media only screen and (min-width: 112.5em) {
  .hero__center svg {
    width: 70%;
  }
}

@media only screen and (max-width: 75em) {
  .hero__center svg {
    top: 100px;
  }
}

@media only screen and (max-width: 56.25em) {
  .hero__center svg {
    left: 76px;
    top: 425px;
  }
}

@media only screen and (max-width: 36.5em) {
  .hero__center svg {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 30%);
            transform: translate(-50%, 30%);
    width: 100%;
  }
}

.hero__right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: hero-right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 75em) {
  .hero__right {
    display: none;
  }
}

.hero__right img {
  width: 15rem;
  outline: none;
  -webkit-animation: spin 7s ease-in-out infinite;
          animation: spin 7s ease-in-out infinite;
  margin-bottom: 7rem;
}

.hero__right a {
  font-size: 1.75rem;
  font-weight: 600;
  border-bottom: 1px solid #4e747a;
  text-decoration: none;
  color: #4e747a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hero__right a:hover {
  color: #e9ab2b;
  border-bottom: 1px solid #e9ab2b;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 7rem;
}

@media only screen and (max-width: 75em) {
  .article {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 36.5em) {
  .article {
    padding: 5rem 0;
    display: none;
  }
}

.article__left {
  width: 35%;
}

@media only screen and (max-width: 75em) {
  .article__left {
    display: none;
  }
}

.article__left img {
  width: 10rem;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-box-shadow: var(--shadow-dreamy);
          box-shadow: var(--shadow-dreamy);
  margin-bottom: 2rem;
}

.article__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 75em) {
  .article__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.article__right article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}

@media only screen and (max-width: 75em) {
  .article__right article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 77em) {
  .article__left {
    display: none;
  }
  .article__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article__right article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 2rem 0;
  }
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 0.2fr 1fr;
      grid-template-rows: 0.2fr 1fr;
      grid-template-areas: 'about-top about-top' 'about-left about-right';
  padding: 10rem 0 5rem 0;
}

@media only screen and (max-width: 75em) {
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.1fr 0.5fr 1fr;
        grid-template-rows: 0.1fr 0.5fr 1fr;
        grid-template-areas: 'about-top' 'about-right' 'about-left';
  }
}

@media only screen and (max-width: 36.5em) {
  .about {
    padding: 6.5rem 0 0 0;
    -ms-grid-rows: 0.1fr 0.5fr minmax(300px, 0.5fr);
        grid-template-rows: 0.1fr 0.5fr minmax(300px, 0.5fr);
  }
}

.about__top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: about-top;
  text-align: center;
}

.about__left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about-left;
}

@media only screen and (max-width: 75em) {
  .about__left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__left img {
  width: 100%;
}

@media only screen and (max-width: 75em) {
  .about__left img {
    width: 70%;
  }
}

.about__right {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: about-right;
  padding: 4rem;
}

@media only screen and (max-width: 36.5em) {
  .about__right {
    text-align: center;
    padding: 4rem 2rem;
  }
}

.about div {
  margin-bottom: 2rem;
}

.features {
  padding: 10rem 0 2rem 0;
  width: calc(100% - 5rem);
  margin-left: auto;
  margin-right: auto;
}

.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 75em) {
  .features__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features__cards article {
  text-align: center;
  padding: 2rem;
  width: 24.5%;
  border: 2px solid #d7cebf;
  border-radius: 15px;
  -webkit-box-shadow: var(--shadow-dreamy);
          box-shadow: var(--shadow-dreamy);
}

@media only screen and (max-width: 75em) {
  .features__cards article {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.features__cards article i {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.features__cards article i.plant {
  color: #6d8a8c;
}

.features__cards article i.compass {
  color: #8e422a;
}

.features__cards article i.utensils {
  color: #e9ab2b;
}

.reviews {
  padding: 10rem 0;
  background: inherit;
  z-index: 99;
}

@media only screen and (max-width: 36.5em) {
  .reviews {
    width: calc(100% - 5rem);
    margin-left: auto;
    margin-right: auto;
    padding: 10rem 0 6rem 0;
  }
}

.review {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
  padding: 5rem;
  width: 50%;
  -webkit-box-shadow: var(--shadow-dreamy);
          box-shadow: var(--shadow-dreamy);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 75em) {
  .review {
    padding: 4rem;
  }
}

.review__shape {
  width: 11.5rem;
  height: 11.5rem;
  float: left;
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid yellow;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .review__shape {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: none;
  }
}

@media only screen and (max-width: 75em) {
  .review__shape {
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
  }
}

.review__shape--red {
  border: 2px solid red;
}

.review__shape--green {
  border: 2px solid green;
}

.review__img {
  height: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.review__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.review__text {
  -webkit-transform: skew(12deg);
          transform: skew(12deg);
}

.review__text p {
  line-height: 1.5;
  font-size: 1.55rem;
}

.review:hover .review__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.review:hover .review__img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
}

@media only screen and (max-width: 77em) {
  .review {
    -webkit-transform: none;
            transform: none;
    width: 90%;
  }
  .review__img, .review__text, .review__shape {
    -webkit-transform: none;
            transform: none;
  }
}

@media only screen and (max-width: 55em) {
  .review {
    width: 100%;
  }
}

.download {
  padding: 0 7rem 7rem 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.75fr 1fr;
      grid-template-columns: 1.75fr 1fr;
      grid-template-areas: 'download-left download-right';
}

@media only screen and (max-width: 36.5em) {
  .download {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: minmax(430px, 1fr) 450px;
        grid-template-rows: minmax(430px, 1fr) 450px;
        grid-template-areas: 'download-left' 'download-right';
    padding: 3rem;
  }
}

.download__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: download-left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.download__left > article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 36.5em) {
  .download__left .p-text {
    margin-bottom: 4rem;
  }
}

.download__right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: download-right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 36.5em) {
  .download__right {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.download__right img {
  max-width: 30rem;
  margin: 0 auto;
}

@media only screen and (max-width: 36.5em) {
  .download__right img {
    max-width: 35rem;
  }
}

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 36.5em) {
  .btn-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3rem;
  }
}

.btn-wrap img {
  max-width: 20rem;
  height: 5rem;
}

.btn-wrap__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 36.5em) {
  .btn-wrap .google-btn {
    max-width: 16rem;
  }
}

.btn-wrap .app-btn {
  max-width: 25rem;
  height: 6rem;
}

@media only screen and (max-width: 36.5em) {
  .btn-wrap .app-btn {
    max-width: 14rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
}

.footer {
  background: #000;
  padding: 5rem 7rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
      grid-template-areas: 'footer-left footer-right';
}

@media only screen and (max-width: 36.5em) {
  .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 5rem 1rem 3rem 1rem;
        grid-template-areas: 'footer-right' 'footer-left';
  }
}

.footer__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer-left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media only screen and (max-width: 36.5em) {
  .footer__left {
    line-height: 1.5;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__row a {
  color: white;
  font-size: 1.75rem;
  text-decoration: none;
  margin: 0 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 500;
}

.footer__row a:first-child {
  margin: 0 1rem 0 0;
}

.footer__row a:hover {
  color: #e9ab2b;
}

.footer__right {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: footer-right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 36.5em) {
  .footer__right {
    margin-bottom: 4rem;
  }
}

.footer__right img {
  width: 15rem;
  margin: 1rem 0;
}
/*# sourceMappingURL=main.css.map */