@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: 'Flink Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Flink Regular"), url("../fonts/FlinkRegular.woff") format("woff");
}

@font-face {
  font-family: 'Flink Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Flink Medium"), url("../fonts/FlinkMedium.woff") format("woff");
}

@font-face {
  font-family: 'Flink Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Flink Medium Italic"), url("../fonts/FlinkMediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Flink Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Flink Bold"), url("../fonts/FlinkBold.woff") format("woff");
}

@font-face {
  font-family: 'Flink Black';
  font-style: normal;
  font-weight: normal;
  src: local("Flink Black"), url("../fonts/FlinkBlack.woff") format("woff");
}

:root {
  --shadow-diffuse: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  --shadow-dreamy: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
  --shadow-shorter: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
  --shadow-longer: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Flink Regular', 'Flink Medium', 'Flink Thin', 'Flink Bold', 'Flink ExtraBold', 'Flink Black', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #fffaf1;
  padding: 5rem 7rem;
}

::-moz-selection {
  background-color: #e9ab2b;
  color: white;
}

::selection {
  background-color: #e9ab2b;
  color: white;
}

@media only screen and (max-width: 77em) {
  body {
    padding: 3rem;
  }
}

.heading {
  font-weight: 800;
  line-height: 1.08;
  font-family: 'Flink Black', sans-serif;
  font-size: 9rem;
}

.heading--secondary {
  font-size: 6rem;
  font-weight: 700;
}

.subheading {
  font-weight: 500;
  color: #767169;
  font-size: 3.75rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
}

.subheading--hero {
  font-size: 2.2rem;
  line-height: 1.5;
}

.subheading--secondary {
  color: #393835;
  font-weight: 600;
  line-height: 1.4;
}

.subheading--article {
  font-size: 2rem;
  font-weight: 800;
}

.subheading--about {
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

.number-text {
  font-family: 'Share Tech Mono', monospace;
  font-size: 7.25rem;
  margin-right: 2rem;
}

.p-text {
  line-height: 1.5;
  font-size: 1.75rem;
  color: #767169;
  font-weight: 500;
}

.radial-gradient {
  height: 30rem;
  width: 30rem;
  border-radius: 100rem;
  background: #fee4c0;
  background: radial-gradient(circle, #fee4c0 0%, rgba(255, 250, 241, 0.0914741) 100%);
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ctr-btn {
  display: inherit;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
  z-index: 999;
}

.nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20rem;
}

.nav ul li {
  margin: 0 2.75rem;
  font-size: 1.65rem;
}

.nav ul li a {
  text-decoration: none;
  color: #767169;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nav ul li a:hover {
  color: #e9ab2b;
}

.nav__logo {
  font-size: 3rem;
}

.nav__search {
  border-radius: 100px;
  width: 35rem;
  border: none;
  outline: none;
  padding: 1.25rem 3rem;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav__search:hover, .nav__search:focus {
  -webkit-box-shadow: var(--shadow-shorter);
          box-shadow: var(--shadow-shorter);
}

@media only screen and (max-width: 77em) {
  .nav ul {
    margin-right: 0;
  }
}

@media only screen and (max-width: 55em) {
  .nav__search {
    display: none;
  }
}

.btn--hero {
  padding: 1.75rem 2rem;
  width: 17rem;
  background: #000000;
  color: #fff;
  border: none;
  font-family: 'Open Sans';
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn--hero:hover {
  background: #e9ab2b;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.25fr 6fr 2fr;
      grid-template-columns: 3.25fr 6fr 2fr;
      grid-template-areas: 'hero-left hero-center hero-right';
  gap: 1rem;
  height: 90vh;
}

.hero__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero-left;
  z-index: 999;
}

.hero__center {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hero-center;
}

.hero__center svg {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: -999;
}

.hero__right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: hero-right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__right img {
  width: 15rem;
  outline: none;
  -webkit-animation: spin 7s ease-in-out infinite;
          animation: spin 7s ease-in-out infinite;
  margin-bottom: 7rem;
}

.hero__right a {
  font-size: 1.75rem;
  font-weight: 600;
  border-bottom: 1px solid #4e747a;
  text-decoration: none;
  color: #4e747a;
}

@media only screen and (max-width: 77em) {
  .hero {
    -ms-grid-columns: 2fr 2.75fr;
        grid-template-columns: 2fr 2.75fr;
        grid-template-areas: 'hero-left hero-center';
  }
  .hero__right {
    display: none;
  }
}

@media only screen and (max-width: 55em) {
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1.5fr 3fr;
        grid-template-rows: 1.5fr 3fr;
        grid-template-areas: 'hero-left' 'hero-center';
  }
  .hero__left {
    text-align: center;
  }
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20rem;
}

.article__left {
  width: 35%;
}

.article__left img {
  width: 10rem;
  border: 2px solid white;
  border-radius: 50%;
  -webkit-box-shadow: var(--shadow-dreamy);
          box-shadow: var(--shadow-dreamy);
  margin-bottom: 2rem;
}

.article__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__right article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 0.2fr 1fr;
      grid-template-rows: 0.2fr 1fr;
      grid-template-areas: 'about-top about-top' 'about-left about-right';
}

.about__top {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: about-top;
  text-align: center;
}

.about__left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about-left;
}

.about__right {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: about-right;
  padding: 4rem;
}

.about div {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=main.css.map */