// #################### HERO SECTION ####################
.hero {
  display: grid;
  grid-template-columns: 3.25fr 6fr 2fr;
  grid-template-areas: 'hero-left hero-center hero-right';
  gap: 1rem;
  height: 90vh;
  padding: 15rem 7rem 0 7rem;
  @include respond(tab-land) {
    padding: 15rem 0 5rem 0;
    grid-template-columns: 2fr 2.75fr;
    grid-template-areas: 'hero-left hero-center';
  }
  @include respond(tab-port) {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 3fr;
    grid-template-areas:
      'hero-left'
      'hero-center';
  }
  @include respond(phone) {
    margin-bottom: 20rem;
  }
  &__left {
    grid-area: hero-left;
    z-index: 999;
    @include respond(tab-port) {
      text-align: center;
      padding: 1.25rem;
    }
  }
  &__center {
    grid-area: hero-center;
    svg {
      width: 80%;
      position: absolute;
      top: 20px;
      left: 210px;
      z-index: -999;
      @include respond(tab-land) {
        top: 100px;
      }
      @include respond(tab-port) {
        left: 76px;
        top: 425px;
      }
      @include respond(phone) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 30%);
        width: 100%;
      }
    }
  }
  &__right {
    grid-area: hero-right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respond(tab-land) {
      display: none;
    }
    img {
      width: 15rem;
      outline: none;
      animation: spin 7s ease-in-out infinite;
      margin-bottom: 7rem;
    }
    a {
      font-size: 1.75rem;
      font-weight: 600;
      border-bottom: 1px solid #4e747a;
      text-decoration: none;
      color: #4e747a;
      transition: all 0.3s;
      &:hover {
        color: #e9ab2b;
        border-bottom: 1px solid #e9ab2b;
      }
    }
  }
}

// ################ Sub Hero ################
.article {
  display: flex;
  justify-content: space-between;
  padding: 5rem 7rem;
  @include respond(tab-land) {
    justify-content: center;
  }
  @include respond(phone) {
    padding: 5rem 0;
    display: none;
  }
  &__left {
    width: 35%;
    @include respond(tab-land) {
      display: none;
    }
    img {
      width: 10rem;
      border: 2px solid white;
      border-radius: 50%;
      box-shadow: var(--shadow-dreamy);
      margin-bottom: 2rem;
    }
  }
  &__right {
    display: flex;
    @include respond(tab-land) {
      flex-direction: column;
    }
    article {
      display: flex;
      align-items: center;
      padding: 0 4rem;
      @include respond(tab-land) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 0;
      }
    }
  }
  @media only screen and (max-width: 77em) {
    &__left {
      display: none;
    }
    &__right {
      flex-direction: column;
      article {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 0;
      }
    }
  }
}

// ########## FEATURES SECTION ##########
.features {
  padding: 15rem 0 2rem 0;
  @include calc-5;
  &__cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
    @include respond(tab-land) {
      flex-direction: column;
    }
    article {
      text-align: center;
      padding: 2rem;
      width: 24.5%;
      border: 2px solid #d7cebf;
      border-radius: 15px;
      box-shadow: var(--shadow-dreamy);
      @include respond(tab-land) {
        width: 100%;
        margin-bottom: 2rem;
      }
      i {
        font-size: 4rem;
        margin-bottom: 2rem;
        &.plant {
          color: #6d8a8c;
        }
        &.compass {
          color: #8e422a;
        }
        &.utensils {
          color: #e9ab2b;
        }
      }
    }
  }
}

// ################### REVIEWS ###################
.reviews {
  padding: 10rem 0;
  background: inherit;
  z-index: 99;
  @include respond(phone) {
    @include calc-5;
    padding: 10rem 0 6rem 0;
  }
}

.review {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skew(-12deg);
  padding: 5rem;
  width: 50%;
  box-shadow: var(--shadow-dreamy);
  align-items: center;
  @include respond(tab-land) {
    padding: 4rem;
  }
  &__img {
    width: 17%;
    height: 17%;
    border-radius: 50%;
    transform: translateX(-3rem) skew(12deg);
    border: 2px solid yellow;
    box-shadow: var(--shadow-diffuse);
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    @include respond(tab-land) {
      width: 14%;
      margin-right: 1rem;
    }
  }
  &__text {
    transform: skew(12deg);
    p {
      line-height: 1.5;
      font-size: 1.55rem;
    }
  }
  @media only screen and (max-width: 77em) {
    transform: none;
    width: 90%;
    &__img,
    &__text {
      transform: none;
    }
  }
  @media only screen and (max-width: 55em) {
    width: 100%;
  }
}

// ################ Download ################
.download {
  padding: 0 7rem;
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  grid-template-areas: 'download-left download-right';
  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.25fr;
    grid-template-areas:
      'download-left'
      'download-right';
    padding: 3rem;
  }
  &__left {
    grid-area: download-left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    > article {
      display: flex;
      flex-direction: column;
    }
    .p-text {
      @include respond(phone) {
        margin-bottom: 3rem;
      }
    }
  }
  &__right {
    grid-area: download-right;
    display: flex;
    position: relative;
    img {
      max-width: 30rem;
      margin: 0 auto;
    }
  }
}
.btn-wrap {
  display: flex;
  align-items: flex-end;
  @include respond(phone) {
    justify-content: space-around;
  }
  img {
    max-width: 20rem;
    height: fit-content;
  }
  &__left {
    display: flex;
    flex-direction: column;
  }
  .google-btn {
    @include respond(phone) {
      max-width: 16rem;
    }
  }
  .app-btn {
    max-width: 25rem;
    height: 6rem;
    @include respond(phone) {
      max-width: 14rem;
      height: min-content;
    }
  }
}
