// #################### HERO SECTION ####################
.hero {
  display: grid;
  grid-template-columns: 3.25fr 6fr 2fr;
  grid-template-areas: 'hero-left hero-center hero-right';
  gap: 1rem;
  height: 90vh;
  &__left {
    grid-area: hero-left;
    z-index: 999;
  }
  &__center {
    grid-area: hero-center;
    svg {
      width: 80%;
      position: absolute;
      top: 20px;
      left: 210px;
      z-index: -999;
    }
  }
  &__right {
    grid-area: hero-right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 15rem;
      outline: none;
      animation: spin 7s ease-in-out infinite;
      margin-bottom: 7rem;
    }
    a {
      font-size: 1.75rem;
      font-weight: 600;
      border-bottom: 1px solid #4e747a;
      text-decoration: none;
      color: #4e747a;
    }
  }
}
@media only screen and (max-width: 77em) {
  .hero {
    grid-template-columns: 2fr 2.75fr;
    grid-template-areas: 'hero-left hero-center';
    &__right {
      display: none;
    }
    &__center {
      svg {
        // width: 75%;
        // left: 300px;
        top: 100px;
      }
    }
  }
}
@media only screen and (max-width: 55em) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 3fr;
    grid-template-areas:
      'hero-left'
      'hero-center';
    &__left {
      text-align: center;
    }
    &__center {
      svg {
        left: 30px;
        top: 400px;
      }
    }
  }
}
@media only screen and (max-width: 36.5em) {
  .hero {
    &__center {
      svg {
        left: 0px;
        top: 515px;
        width: 100%;
      }
    }
  }
}

// ################ TESTIMONIALS SECTION ################
.article {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  &__left {
    width: 35%;
    img {
      width: 10rem;
      border: 2px solid white;
      border-radius: 50%;
      box-shadow: var(--shadow-dreamy);
      margin-bottom: 2rem;
    }
  }
  &__right {
    display: flex;
    article {
      display: flex;
      align-items: center;
      padding: 0 4rem;
    }
  }
  @media only screen and (max-width: 77em) {
    // flex-direction: column;
    // padding-top: 10rem;
    &__left {
      display: none;
    }
    &__right {
      flex-direction: column;
      article {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 2rem 0;
      }
    }
  }
}

// ########## FEATURES SECTION ##########
.features {
  padding: 5rem 0 15rem 0;
  @include calc-5;
  &__cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
    article {
      text-align: center;
      padding: 2rem;
      width: 24.5%;
      border: 2px solid #d7cebf;
      border-radius: 15px;
      box-shadow: var(--shadow-dreamy);
      i {
        font-size: 4rem;
        margin-bottom: 2rem;
        &.plant {
          color: #6d8a8c;
        }
        &.compass {
          color: #8e422a;
        }
        &.utensils {
          color: #e9ab2b;
        }
      }
    }
    @media only screen and (max-width: 77em) {
      flex-direction: column;
      article {
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  }
}

// ################### REVIEWS ###################
.reviews {
  padding: 10rem 0;
}

.review {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.6);
  transform: skew(-12deg);
  padding: 5rem;
  width: 50%;
  box-shadow: var(--shadow-dreamy);
  align-items: center;
  &__img {
    width: 17%;
    height: 17%;
    border-radius: 50%;
    transform: translateX(-3rem) skew(12deg);
    border: 2px solid yellow;
    box-shadow: var(--shadow-diffuse);
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
  &__text {
    transform: skew(12deg);
    p {
      line-height: 1.5;
      font-size: 1.55rem;
    }
  }
  @media only screen and (max-width: 77em) {
    transform: none;
    width: 90%;
    &__img,
    &__text {
      transform: none;
    }
  }
  @media only screen and (max-width: 55em) {
    width: 100%;
  }
}

// ################ Download ################
.download {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'download-left download-right';
  &__left {
    grid-area: download-left;
    > article {
      display: flex;
      flex-direction: column;
    }
  }
  &__right {
    grid-area: download-right;
    display: flex;
    img {
      max-width: 10rem;
    }
    @media only screen and (max-width: 36.5em) {
      img:last-child {
        display: none;
      }
    }
  }
}
.btn-wrap {
  display: flex;
  img {
    max-width: 10rem;
  }
  &__left {
    display: flex;
    flex-direction: column;
  }
}
