// #################### HERO SECTION ####################
.hero {
  display: grid;
  grid-template-columns: 3.25fr 6fr 2fr;
  grid-template-areas: 'hero-left hero-center hero-right';
  gap: 1rem;
  height: 90vh;
  &__left {
    grid-area: hero-left;
    z-index: 999;
  }
  &__center {
    grid-area: hero-center;
    svg {
      position: absolute;
      top: 40px;
      left: 0;
      z-index: -999;
    }
  }
  &__right {
    grid-area: hero-right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 15rem;
      outline: none;
      animation: spin 7s ease-in-out infinite;
      margin-bottom: 7rem;
    }
    a {
      font-size: 1.75rem;
      font-weight: 600;
      border-bottom: 1px solid #4e747a;
      text-decoration: none;
      color: #4e747a;
    }
  }
}
@media only screen and (max-width: 77em) {
  .hero {
    grid-template-columns: 2fr 2.75fr;
    grid-template-areas: 'hero-left hero-center';
    &__right {
      display: none;
    }
  }
}
@media only screen and (max-width: 55em) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 3fr;
    grid-template-areas:
      'hero-left'
      'hero-center';
    &__left {
      text-align: center;
    }
  }
}

// ################ TESTIMONIALS SECTION ################
.article {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0;
  &__left {
    width: 35%;
    img {
      width: 10rem;
      border: 2px solid white;
      border-radius: 50%;
      box-shadow: var(--shadow-dreamy);
      margin-bottom: 2rem;
    }
  }
  &__right {
    display: flex;
    article {
      display: flex;
      align-items: center;
      padding: 0 4rem;
    }
  }
}

// ########## FEATURES SECTION ##########
.features {
  padding: 5rem 0 10rem 0;
  @include calc-5;
  &__cards {
    display: flex;
    justify-content: space-around;
    article {
      text-align: center;
      padding: 2rem;
      width: 17%;
      border: 2px solid #d7cebf;
      border-radius: 15px;
      box-shadow: var(--shadow-dreamy);
      i {
        font-size: 4rem;
        margin-bottom: 2rem;
        &.plant {
          color: green;
        }
        &.compass {
          color: blue;
        }
        &.utensils {
          color: orange;
        }
      }
    }
  }
}

// REVIEWS
.reviews {
  padding: 10rem 0;
}

.review {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  transform: skew(-12deg);
  padding: 6rem;
  width: 50%;
  box-shadow: var(--shadow-dreamy);
  &__img {
    // width: 12%;
    border-radius: 50%;
    transform: skew(12deg);
    border: 2px solid yellow;
    box-shadow: var(--shadow-diffuse);
    // margin: 1rem;
  }
  &__text {
    transform: skew(12deg);
    p {
      font-size: 1.25rem;
    }
  }
}
