.btn {
  &--hero {
    padding: 1.75rem 3rem;
    background: #000000;
    color: #fff;
    border: none;
    font-family: 'Open Sans';
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;
    &:hover {
      background: #e9ab2b;
    }
    @include respond(phone) {
      padding: 1.75rem 2.5rem;
      font-size: 1.75rem;
    }
  }
}
