.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  z-index: 999;
  height: 10rem;
  padding: 0 7rem;
  align-items: center;
  background: #f9e6c6;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99999;
  transition: all 0.5s ease;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  &.top {
    background-color: transparent;
    box-shadow: none;
  }
  @include respond(tab-port) {
    padding: 1rem 1.25rem;
  }
  @include respond(phone) {
    padding: 1rem 2rem;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 20rem;
    @include respond(tab-land) {
      margin-right: 0;
    }
    li {
      margin: 0 2.75rem;
      font-size: 1.65rem;
      &:nth-child(-n + 3) {
        @include respond(tab-port) {
          display: none;
        }
      }
      a {
        text-decoration: none;
        color: #767169;
        transition: color 0.3s;
        &:hover {
          color: #e9ab2b;
        }
      }
      // 'Download' button
      &:last-child {
        display: inline-block;
        border: 1px solid rgb(255, 197, 115);
        border-radius: 10rem;
        padding: 0.45rem 0.75rem;
        font-weight: 800;
        background: rgb(254, 228, 192);
        background: linear-gradient(319deg, rgba(254, 228, 192, 1) 0%, rgba(255, 216, 146, 1) 100%);
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          transform: translateY(-3px);
          box-shadow: var(--shadow-dreamy);
          a {
            color: inherit;
          }
        }
        @include respond(phone) {
          margin: 0;
        }
      }
    }
  }
  &__logo {
    font-size: 3rem;
    cursor: pointer;
    @include respond(phone) {
      margin-right: auto;
    }
  }
  &__search {
    border-radius: 100px;
    width: 35rem;
    border: none;
    outline: none;
    padding: 1.25rem 3rem;
    font-size: 1.5rem;
    transition: all 0.3s;
    &:hover,
    &:focus {
      box-shadow: var(--shadow-shorter);
    }
    @include respond(tab-port) {
      width: 25rem;
    }
    @include respond(phone) {
      display: none;
    }
  }
}
