*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem == 16px
  text-size-adjust: none;
  @include respond(tab-land) {
    // font-size: 55%;
    font-size: 9px;
  }
  @include respond(phone) {
    // font-size: 52.5%;
    font-size: 8.5px;
  }
}
body {
  font-family: 'Flink Regular', 'Flink Medium', 'Flink Thin', 'Flink Bold', 'Flink ExtraBold',
    'Flink Black', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  background: #fffaf1;
  @include respond(tab-land) {
    padding: 3rem;
    padding: 0;
  }
  @include respond(phone) {
    padding: 0;
  }
}

::selection {
  background-color: #e9ab2b;
  color: white;
}
