.heading {
  font-weight: 800;
  line-height: 1.08;
  font-family: 'Flink Black', sans-serif;
  font-size: 9rem;
}
.subheading {
  font-weight: 500;
  color: #767169;
  font-size: 3.75rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.1;
  &--hero {
    font-size: 2.2rem;
    line-height: 1.5;
  }
  &--secondary {
    color: #393835;
    font-weight: 600;
    line-height: 1.4;
  }
  &--article {
    font-size: 2rem;
    font-weight: 800;
  }
}
.number-text {
  font-family: 'Share Tech Mono', monospace;
  font-size: 7rem;
}
