.radial-gradient {
  height: 30rem;
  width: 30rem;
  border-radius: 100rem;

  background: rgb(254, 228, 192);
  background: radial-gradient(
    circle,
    rgba(254, 228, 192, 1) 0%,
    rgba(255, 250, 241, 0.09147408963585435) 100%
  );
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mb-6 {
  margin-bottom: 6rem;
}
.mb-7 {
  margin-bottom: 7rem;
}
.mb-8 {
  margin-bottom: 8rem;
}
.mb-9 {
  margin-bottom: 9rem;
}
.mb-10 {
  margin-bottom: 10rem;
}
.ctr-btn {
  display: inherit;
  margin: 0 auto;
}
.ctr-txt {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
