.radial-gradient {
  height: 30rem;
  width: 30rem;
  border-radius: 100rem;

  background: rgb(254, 228, 192);
  background: radial-gradient(
    circle,
    rgba(254, 228, 192, 1) 0%,
    rgba(255, 250, 241, 0.09147408963585435) 100%
  );
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
